$logoColor: #08a6e4;
$menuColor: #a5a5a5;
$logoFontSize: 32px;
$menuFontSize: 11px;
$menuBoxShadow: #00000029 0 3px 6px;
$mainColor1: #09a9e3;
$mainColor2: #fb3b64;
$mainColor3: #55dfb4;
$headerFontSize: 49px;
$headerParagraphFontSize: 16px;
$h2FontSize: 36px;
$fontRaleway: 'Raleway', sans-serif;
$fontOpenSans: 'Open Sans';
$section2Background: #f7f7f7;
$footerBackground: #00000029;
$fontWeightBold: bold;
$mobile-width: 576px; //min-width: 576px
$tablet-width: 768px; // min-width: 767px
$desktop-width: 1000px;
$max-width: 1266px;
